

<div class="grid m-0 flex align-items-center">
  <div class="col-12  md:col-8 xl:col-10">
    <app-search-input
      placeHolder="Curso"
      class="w-full"
      (onDebunce)="courseSuggestions($event)"
      [term]="termSearch"
    ></app-search-input>
    <div class="relative">
      <ul
        *ngIf="showSuggestion"
        class="suggestion absolute top-0 w-full z-5 px-3 pb-2  card-custom"
      >
        <li
          (click)="selectCourse(course)"
          class="mt-1"
          *ngFor="let course of courses"
        >
          {{ course.titulo }}
        </li>
      </ul>
    </div>
  </div>
  <div class="flex justify-content-evenly col-12 md:col-4 xl:col-2  ">
    <button  [disabled]="!course" class="mr-2" pButton type="button" label="Buscar"></button>
    <button
   
      pButton
      pRipple
      type="button"
      label="Cancelar"
      class="p-button-danger"
      (click)="clearFilter()"
    ></button>
  </div>
</div>
<app-header-title></app-header-title>
