<div class="container">
  <app-header></app-header>
  <div class="grid flex justify-content-center m-0 mt-5">
    <div class="col-12 md:col-6 xl:col-4">
      <div class="card-login p-5">
        <form
          class="login-form pt-5"
          [formGroup]="formLogin"
          (submit)="login()"
        >
          <div class="p-inputgroup w-full">
            <span class="p-float-label">
              <input
                formControlName="email"
                id="float-input-email"
                type="email"
                pInputText
                class="font-bold"
                autocomplete="off"
              />
              <label for="float-input-email "
                >Correo electronico <span class="text-red-600">*</span></label
              >
            </span>
          </div>
          <div class="p-inputgroup w-full mt-5">
            <span class="p-float-label">
              <input
                formControlName="password"
                id="float-input-password"
                type="password"
                pInputText
                class="font-bold"
              />
              <label for="float-input-password"
                >Contraseña <span class="text-red-600">*</span></label
              >
            </span>
          </div>
          <div class="w-full text-center mt-5">
            <span>He olvidado mi </span>
            <span (click)="resetPassword()" class="underline">contraseña</span>
          </div>
          <div class="text-center mt-5">
            <button
              [disabled]="!formLogin.valid"
              pButton
              type="submit"
              label="Iniciar sesión"
            ></button>
          </div>
          <div class="w-full text-center mt-5 register">
            <a routerLink="/sign-up">!Registrate gratis!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


