$primary-color: #673ab7;
$secondary-color: #673ab7b2;
$color-button: #421cde;
$light-color: #fff;
$error-color: #fa3007;
$success-color: #15a14d;
$font-color: #302f32a8;
$dark-color: #121111;
$background-color: #f0f0f0;

$text-color: #302f32a8;

$font-size-one: 15px;
$font-size-two: 18px;

@mixin box-shadow($color) {
  background: $color 0% no-repeat padding-box;
  border: 1px solid #70707042;
  border-radius: 20px;
  opacity: 1;
  box-shadow: inset 0px 3px 6px #00000029, 0px 6px 6px #00000029;
}
