@import "../../../../assets/scss/global.scss";

tr {
  th,
  td {
    color: $font-color;
    text-align: center;
    font-weight: bold;
  }
  border-bottom: 1.3px solid $primary-color;
}

h1 {
  color: $success-color;
  font-weight: bolder;
  font-size: $font-size-two;
}

i {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 5px;
}

.save-file,
a {
  color: $success-color;
  text-decoration: none;
}

.file-upload {
  display: grid;
  place-items: center;
  label {
    color: $dark-color;
    cursor: pointer;
    i {
      color: $dark-color;
    }
  }
}

.por-vencer {
  color: $error-color !important;
  font-weight: bold !important;
  cursor: auto;
}

.vencida {
  color: $error-color !important;
  font-weight: bold !important;
  cursor: auto;
}

.calificada {
  font-weight: bold;
  color: $success-color !important;
  cursor: pointer !important;
}
.entregada {
  font-weight: bold !important;
  color: $text-color !important;
  cursor: auto;
}

.sin-entregar {
  cursor: auto;
}

.t-head {
  color: $light-color !important;
  font-weight: bold;
  border-bottom: 1px solid $primary-color !important;
  background-color: $secondary-color !important;
  text-align: left;
}
