<div class="grid m-0 flex align-items-center">
  <div class="col-5">
    <app-search-input
      placeHolder="Curso"
      (onDebunce)="courseSuggestions($event)"
      [term]="termSearch"
    ></app-search-input>
    <div class="relative">
      <ul
        *ngIf="showSuggestion"
        class="suggestion absolute top-0 w-full z-5 px-3 pb-2 card-custom"
      >
        <li
          (click)="selectCourse(course)"
          class="mt-1"
          *ngFor="let course of courses"
        >
          {{ course.nombreCurso }}
        </li>
      </ul>
    </div>
  </div>
  <div class="col-5">
    <div class="p-inputgroup col-12 xl:col-6 mt-3 w-full">
      <span class="p-float-label w-full">
        <p-dropdown
          [style]="{
            minWidth: '100%',
            backgroundColor: '#f0f0f0',
            border: 'none',
            borderBottom: '1px solid rgba(0, 0, 0, 0.38)'
          }"
          inputId="topic-dropdown"
          [options]="topics"
          optionLabel="titulo"
          placeholder="Seleccione tema"
          [autoDisplayFirst]="false"
          [(ngModel)]="topic"
          (onChange)="searchDelivery()"
        ></p-dropdown>
        <label for="topic-dropdown"
          >Tema <span class="text-red-600">*</span></label
        >
      </span>
    </div>
  </div>
  <div class="col-2">
    <div class="flex justify-content-evenly">
      <button
        [disabled]="!course || !topic"
        class="mr-2"
        pButton
        type="button"
        label="Buscar"
        (click)="searchDelivery()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Cancelar"
        class="p-button-danger"
        (click)="clearFilter()"
      ></button>
    </div>
  </div>
</div>

<div class="card-custom p-1 pb-5" *ngIf="deliveries.length > 0">
  <h1 class="m-2">Cumplimiento:45%</h1>
  <app-header-title></app-header-title>
  <p-table
    [value]="deliveries"
    styleClass="p-datatable-striped"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>N°</th>
        <th>Tarea</th>
        <th>Limite</th>
        <th>Estado</th>
        <th>Entrega</th>
        <th>Subir archivo</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-delivery>
      <tr>
        <td>{{ delivery.orden }}</td>
        <td>{{ delivery.titulo }}</td>
        <td>{{ delivery.fechaLimite | date: "dd/MM/yyyy" }}</td>
        <td
          [ngClass]="{
            'por-vencer': delivery.estado === getStatus().POR_VENCER,
            entregada: delivery.estado === getStatus().ENTREGADA,
            vencida: delivery.estado === getStatus().VENCIDA,
            'sin-entregar': delivery.estado === getStatus().SIN_ENTREGAR,
            calificada: delivery.estado === getStatus().CALIFICADA
          }"
          (click)="delivery.estado == getStatus().CALIFICADA && showDetails(delivery)"
        >
          {{ delivery.estado }}
        </td>
        <td>{{ delivery.fechaEntregado | date: "dd/MM/yyyy" }}</td>
        <td>
          <div class="flex justify-content-center align-items-center">
            <div
              class="file-upload m-2"
              *ngIf="
                delivery.estado != getStatus().CALIFICADA &&
                delivery.estado != getStatus().VENCIDA
              "
            >
              <h1></h1>
              <input
                type="file"
                (change)="onUpload($event)"
                class="p-1"
                id="upload"
                hidden
              />
              <label
                *ngIf="
                  moment(moment(date, 'DD/MM/YYYY')).diff(
                    delivery.fechaLimite,
                    'days'
                  ) <= 0
                "
                (click)="getDelivery(delivery)"
                for="upload"
                ><i class="pi pi-upload"></i
              ></label>
            </div>
            <i
              (click)="saveFile(delivery)"
              *ngIf="idDelivery == delivery.tareaID && file"
              class="pi pi-check m-2 save-file"
            ></i>

            <a *ngIf="delivery.archivoURL" [href]="delivery.urlarchivo" download
              ><i class="pi pi-eye"></i
            ></a>


    
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-loading *ngIf="showLoading"></app-loading>

<app-modal-note
  [isView]="true"
  [delivery]="delivery"
  (closeModal)="closeModal($event)"
  [displayModal]="showModal"
></app-modal-note>
