<app-search-input
  placeHolder="Curso"
  (onDebunce)="courseSuggestions($event)"
  [term]="termSearch"
></app-search-input>
<div class="relative">
  <ul
    *ngIf="showSuggestion"
    class="suggestion absolute top-0 w-full z-5 px-3 pb-2 card-custom"
  >
    <li
      (click)="selectCourse(course)"
      class="mt-1"
      *ngFor="let course of courses"
    >
      {{ course.titulo }}
    </li>
  </ul>
</div>
<app-header-title></app-header-title>
<p-treeTable
  *ngIf="course"
  [value]="files"
  [columns]="cols"
  [paginator]="true"
  [rows]="5"
>
  <ng-template pTemplate="header" let-columns cente>
    <tr>
      <th
        [ngClass]="'t-head'"
        class="text-center"
        *ngFor="let col of columns"
        [ttSortableColumn]="col.field"
      >
        {{ col.header }}
        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
      </th>
      <th [ngClass]="'t-head'" class="text-center" style="width: 8rem">
        Acciones
      </th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowNode
    let-rowData="rowData"
    let-columns="columns"
  >
    <tr>
      <td
        [ngClass]="'t-data'"
        class="border-300"
        *ngFor="let col of columns; let i = index"
      >
        <p-treeTableToggler
          [rowNode]="rowNode"
          *ngIf="i == 0"
        ></p-treeTableToggler>

        {{ rowData[col.field] }}
      </td>
      <td class="text-center">
        <p-button
        
          *ngIf="rowData.showActions"
          (onClick)="deleteItem(rowData,rowNode)"
          icon="pi pi-trash"
          styleClass="p-button-danger"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-treeTable>

<app-loading *ngIf="showLoading"></app-loading>