@import "../../../../assets/scss/global.scss";





.t-head{
    color: $text-color !important;
    font-weight: bold;
    border-bottom: 1px solid $primary-color !important;
    background-color: $background-color !important;
}

.t-data{
    padding-left: 3px;
}