@import "../../../../assets/scss/global.scss";

ul{
    max-height: 350px;
    overflow: hidden;
    overflow-y: scroll;
}



.t-head{
    color: $text-color !important;
}

.t-data{
    border-right: 1px solid $background-color !important;
    padding-left: 3px;
}