@import "../../../assets/scss/global.scss";

.header {
  height: 71px;
  @include box-shadow($primary-color);
  color: $light-color;
  padding-left: 22px;
  border-radius: 10px;
  img {
    display: flex;
    height: 35px;
    margin-top: -9px;
  }
}

a{
  cursor: pointer;
}
