<p-dialog
  [header]="delivery?.titulo || ''"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw', color: 'gray' }"
  [baseZIndex]="0.5"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <div>
    <p class="texts-header">
      Fecha y hora de entrega: {{ delivery?.fechaEntregado }}
    </p>
    <p class="texts-header">
      Archivo(s): <a [href]="delivery?.archivoURL" download="">Entrega</a>
    </p>
  </div>
  <form
    class="login-form pt-5"
    [formGroup]="formAddNote"
    (submit)="formAddNote.valid && submitForm()"
  >
    <!-- Input Nota -->
    <div class="p-inputgroup w-3 flex flex-column mb-4">
      <span class="p-float-label">
        <input
          [value]="delivery?.calificacion"
          [readonly]="isView"
          name="note"
          formControlName="calificacion"
          id="float-input-note"
          type="number"
          pInputText
          class="font-bold"
          autocomplete="off"
        />
        <label for="float-input-note "
          >Nota <span class="text-red-600">*</span></label
        >
      </span>
      <small
        *ngIf="!isView"
        id="float-input-feedback-help font-bold"
        class="p-error block"
        >{{ formAddNote.get("note")?.getError("invalidNumber") }}</small
      >
    </div>

    <!-- Input Retroalimentación -->
    <div class="p-inputgroup w-full flex flex-column">
      <span class="p-float-label">
        <input
          [value]="delivery?.retroalimentacion"
          [readonly]="isView"
          name="feedback"
          formControlName="retroalimentacion"
          id="float-input-feedback"
          type="feedback"
          pInputText
          class="font-bold"
          autocomplete="off"
        />
        <label for="float-input-feedback ">Retroalimentación</label>
      </span>
      <small *ngIf="!isView" id="float-input-feedback-help font-bold" class="p-error block"
        >Una vez guardado el registro no se podrá modificar la
        calificación</small
      >
    </div>

    <div class="w-full flex justify-content-end mt-5">
      <button
        *ngIf="!isView"
        [disabled]="formAddNote.invalid"
        class="mr-2"
        pButton
        type="submit"
        label="Guardar"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        (click)="closeModalEmmiter()"
        label="Cancelar"
        class="p-button-danger"
      ></button>
    </div>
  </form>
  <ng-template pTemplate="footer"> </ng-template>
</p-dialog>
