@import "../../../assets/scss/global.scss";

.navbar{
  width: 100%;
  height: 71px;
  @include box-shadow($primary-color);
  color: $light-color;
  padding-left: 22px;
}

.cont-info{
  width: 70%;
}

.cont-icons{

  width: 30%;
}

.icons{
  font-size:1.6rem;
  margin-right: 1.5rem;
}


