<form
  class="topic-form grid m-0 mt-2"
  [formGroup]="formTopic"
  (submit)="(formTopic.valid && course) && createTopic()"
>
  <div class="flex w-full">
    <div class="p-inputgroup px-2">
      <span class="p-float-label">
        <input
          required="true"
          formControlName="topic"
          id="float-input-topic"
          type="text"
          pInputText
          class="font-bold"
          autocomplete="off"
        />
        <label for="float-input-topic "
          >Tema <span class="text-red-600">*</span></label
        >
      </span>
    </div>
    <div class="btn-container-add mx-5">
      <button class="add-icon">
        <i class="pi pi-plus"></i>
      </button>
    </div>
  </div>
</form>
