@import "../../../../assets/scss/global.scss";

tr {
  th,
  td {
    color: $font-color;
    font-weight: bold;
  }
  border-bottom: 1.3px solid $primary-color;
}

.t-head{
    color: $text-color !important;
    font-weight: bold;
    border-bottom: 1px solid $primary-color !important;
    background-color: $background-color !important;
}
