/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/global.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: $font-color;
}

.container {
  width: 100vw;
  max-width: 1500px;
  margin: 0 auto;
}

a {
  color: $color-button;
  font-weight: bold;
}

.suggestion {
  list-style: none;
  background-color: $light-color;

  max-height: 350px;
  overflow: hidden;
  overflow-y: scroll;

  li {
    padding: 1rem 1rem 0px 1rem;
    border-bottom: 1px solid $hover-color;
  }
  li:hover {
    background-color: $hover-color;
  }
}

.card-custom {
  @include box-shadow-card($light-color);
}
