@import "../../../../assets/scss/global.scss";
.header {
  height: 71px;
  @include box-shadow($primary-color);
  color: $light-color;
  padding-left: 22px;
  img{
    display: flex;
    height: 100%;
  }
}
